.button {
    border: none;
    border-radius: var(--border-radius);
    height: 35px;
    font-size: 20px;
    margin-top: 20px;
    background-color: var(--clr-highlight);
    transition: background-color 0.3s ease;
    color: var(--clr-bg-lt);
    font-family: Montserrat;
}

.button:hover {
    background-color: var(--clr-highlight-hover);
}