.center-block {
    position: absolute; 
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    width: 500px;
    background-color: var(--clr-bg-lt);
    border-radius: var(--border-radius);
    padding: 25px 100px 50px 100px;
    color: var(--clr-txt-primary);
    font-family: Montserrat;
}

.light-header {
    font-weight: 550;
    margin-bottom: 20px;
    align-self: center;
}

.redirect-link-container {
    margin-top: 20px;
    align-self: center;
} 

.redirect-link {
    margin-left: 5px;
    color: var(--clr-highlight);
} 